body {
    background-image: url(https://i.pinimg.com/564x/ae/c1/fc/aec1fc06d16b461c7974e7a46b38dd08.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}   


h1 {
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

h3 {
    text-align: center;
    color: black;
    font-size: 30px;
}

h4 {
    text-align: center;
    font-size: 18px;
}

p {
    text-align: center;
    font-size: 20px;
}

ul, ol {
    text-align: center;
    list-style-position: inside;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.menu {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.font {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}